* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.container {
  display: flex;
}

.point {
  cursor: pointer;
}

.navbar {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.leftHead, .rightHead {
  font-size: x-large;
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0.4rem;
  margin: 1rem;
}
.leftHead {
  justify-content: space-between;
  width: 40%;
}
.rightHead {
  width: 100%;
  justify-content: end;
}
.fifty {
  width: 50%;
}
.space {
  justify-content: space-between;
  display: flex;
}

.search {
  align-items: center;
  display: flex;
}
.search h4 {
  font-size: large;
}

.head {
  font-family: Arial, Helvetica, sans-serif;
  height: 10vh;
  width: 100%;
  background: #fff;
  color: #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-style: hidden hidden solid hidden;
  border-color: #b3b3b3;
  border-width: 1px;
}

.content {
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  background: #f1f1f1;
}

.content .cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-case {
  font-size: xx-large;
}

.content .cards .charts,.charts2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.content .cards .charts2 .chart3,.chart4 {
  width: 530px;
  height: 400px;
}


.content .cards .charts2 .chart3,.chart4 {
  
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content .cards .charts .chart2,.chart1 {
  
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content .cards .charts .chart2 {
  width: 400px;
  height: 400px;
}

.content .cards .charts .chart1 {
  width: 650px;
  height: 400px;
}

.content .cards .card {
  width: 250px;
  height: 100px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
}

.content .cards .card h5 {
  color: gray;
}

.home {
  font-size: 100px;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
